@import "../../styles/colors";
@import "../../styles/layout";

$tempo-animacao: 250ms;

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.4);
  z-index: 999;
  display: flex;
  justify-content: flex-end;

  main {
    width: 30%;
    background-color: $bg;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .carrinhoVazio {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        padding: 2rem;
      }

      svg {
        font-size: 8rem;
        color: $secundaria;
      }
    }

    .checkout {
      padding-top: 1rem;

      & > button {
        background: $primaria;
        padding: 1rem 2rem;
        width: 100%;
        color: white;
        margin: 2rem 0rem;
        border: none;
        font-size: 1rem;
        border-radius: 6px;
        cursor: pointer;
      }
    }
  }
}

@include small-desktop {
  .container {
    main {
      width: 40%;
    }
  }
}
