@import "../../styles/colors";
@import "../../styles/layout";

$tempo-animacao: 250ms;

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.4);
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  pointer-events: none;
  transition: all $tempo-animacao ease-in-out;

  main {
    width: 30%;
    background-color: $bg;
    transform: translateX(100%);
    transition: all $tempo-animacao ease-in-out;
    padding: 2rem 3rem;
    overflow-y: auto;
    position: relative;

    .carrinhoVazio {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        padding: 2rem;
      }

      svg {
        font-size: 8rem;
        color: $secundaria;
      }
    }

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      border-radius: 1rem;
      overflow: hidden;
      background-color: $fundo-produto;
      padding: 2rem;
      margin: 2rem 0rem;

      img {
        width: 8rem !important;
        border-radius: 6px;
      }

      & > div {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h3 {
          font-size: 0.9rem;
        }

        .quantidadeContainer {
          display: flex;
          align-items: center;

          button {
            background: transparent;
            border: none;
            display: flex;
            font-size: 1.5rem;
            cursor: pointer;
            padding: 0rem 1rem;
          }

          p {
            width: 1rem;
            text-align: center;
          }

          span {
            color: $secundaria;
            font-size: 0.9rem;
          }

          svg {
            color: #494949;
          }
        }
      }
    }
  }
}

.container.exibir {
  opacity: 1;
  pointer-events: unset;

  main {
    transform: translateX(0%);
  }
}

@include small-desktop {
  .container {
    main {
      width: 40%;
    }
  }
}
