@import "styles/colors";
@import "styles/layout";

.nav {
  min-height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;

  a {
    font-size: 1.2rem;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-around;

    & > .carrinho {
      margin-left: 3rem;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      span {
        background: $fundo-qtd-carrinho;
        color: white;
        width: 1.3rem;
        height: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 0.75rem;
        position: absolute;
        top: -20%;
        right: 15%;
        pointer-events: none;
      }

      svg {
        font-size: 1.25rem;
        color: $secundaria;
      }

      h3 {
        font-size: 1rem;
        padding: 0.25rem;
      }
    }
  }
}

@include tablet {
  .nav {
    & > div {
      & > .carrinho {
        margin-left: 1rem;
      }
    }
  }
}
