@import "../../styles/colors";

.container {
  background-color: $fundo-produto;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  img {
    cursor: pointer;
  }

  h2 {
    padding: 0.5rem 0rem;
  }
}
