@import "styles/colors";

.container {
  background-color: $fundo-produto;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  isolation: isolate;
  transition: all 0.1s ease-in-out;
  width: 345px;
  max-width: 100%;

  span {
    cursor: pointer;
    min-height: 220px;
    max-height: 220px;
  }

  & > .infosContainer {
    flex-grow: 1;
    padding: 1rem;
    padding-top: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      padding: 0.5rem 0rem;
    }
  }
}

.container:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.11);
}
